<main class="cart-page">

  <header class="header" id="cart-page-header">
    <h1 class="welcome-message">ShopHub</h1>
    <nav class="navbar" id="cart-navbar">
      <a href="/api/departments" id="departments-link">Departments</a>
      <button id="logout-button">Logout</button>
    </nav>
  </header>

  <section class="cart-items">
    <h1 class="cart-message">Your Cart</h1>
    <div class="cart-display">
      {{#each cartItems as |cartItem|}}
        <div class="card" id="cart-card">
          <img
            class="product-image"
            src="https://styles.redditmedia.com/t5_2qs68/styles/communityIcon_q8mi7wapykd51.jpg?width=256&s=854237e848eddbb31c24c6c0f530605e2f332451"
            alt="image of {{product.product_name}}"
          />
          <div class="product-info">
            <h2 class="product-name">{{product.product_name}}</h2>
            <p class="product-description">{{product.description}}</p>
            <p class="product-price">${{product.price}}</p>
          </div>
          <button id="delete-from-cart" data-cartItemId="{{id}}">Remove</button>
        </div>
      {{/each}}

    </div>
    <button id="submit-order-button">Submit Your Order</button>
  </section>

  <footer class="footer">
    <div class="footer-contacts">
      <h2>Get in touch with us</h2>
      <a href="mailto:shophub@shophub.com">shophub@shophub.com</a>
      <p>800-111-2323</p>
      <p>Unit 3 - 666 Shophub Ave, Toronto, ON</p>
    </div>
    <div class="footer-socials">
      <p>Github Logo Goes here</p>
      <p>Twitter Logo Goes here</p>
    </div>
  </footer>

</main>

<script src="/js/cart.js"></script>