<main class="products-page">

  <header class="header" id="products-page-header">
    {{! <h1 class="welcome-message">ShopHub</h1> }}
    <div class="logo-container">
      <img class="logo" src="/images/Color logo.png" alt="Logo" />
    </div>
    <nav class="navbar" id="products-navbar">
      <a href="/api/cart/" id="cart-link">Cart</a>
      <a href="/api/departments" id="departments-link">Departments</a>
      <button id="logout-button">Logout</button>
    </nav>
  </header>

  <section class="products">
    <h1 class="products-message">{{department.department_name}}</h1>
    <div class="products-display">
      {{#each products as |product|}}
        <div class="card">
          <img
            class="product-image"
            src="/images/{{image}}"
            alt="image of {{product_name}}"
          />
          <div class="product-info">
            <h2 class="product-name">{{product_name}}</h2>
            <p class="product-description">{{description}}</p>
            <p class="product-price">${{price}}</p>
          </div>
          <div class="button-container">
            <button id="add-to-cart" data-productId="{{id}}">Add to Cart</button>
            <p class="added-message" data-messageId="{{id}}">Added to cart</p>
          </div>
        </div>
      {{/each}}

    </div>
  </section>

  <footer class="footer">
    <div class="footer-contacts">
      <h2>Get in touch with us</h2>
      <a href="mailto:shophub@shophub.com">shophub@shophub.com</a>
      <p>800-111-2323</p>
      <p>Unit 3 - 666 Shophub Ave, Toronto, ON</p>
    </div>
    {{! <div class="footer-socials">
      <p>Github Logo Goes here</p>
      <p>Twitter Logo Goes here</p>
    </div> }}
  </footer>

</main>

<script src="/js/products.js"></script>